@charset "ISO-8859-1";
.content {
    display: inline-flex;
    align-items: center;
    margin-top: 10%;
    margin-left: 5%;
    gap: 20px;
}

.content_table {
    margin-top: 2%;
    margin-left: 5%;
}

.content_table tr th,
.content_table tr td {
    padding: 10px;
}